{% extends "index.html" %}

    {% block pageID %}shadowing{% endblock %}

    {% block content %}
    {{ block.super }}


        <div class="well span8 game-area">


            <div id="gameArea" class="clearfix">
                <div class="text-categories span2">
                    {% for category in categories %}
                        <a href="{% url 'exam_category' category.id %}" class="btn btn-block">{{ category.title }}</a>
                    {% endfor %}
                </div>

                <div class="article-list span6 white-cell">
                    <ul class="nav nav-list text-selection">
                    {% if articles %}
                        {% for article in articles %}
                            <li><a href="{% url 'exam_detail' article.id %}">{{ article.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">Önce Bir Kategori Seçiniz</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>



    {% endblock content %}

