{% extends "index.html" %}

    {% block pageID %}exam_detail{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">


            <form action="{% url 'quiz_result' %}" method="POST">
            {% csrf_token %}

            <input type="hidden" value="{{ test_id }}" name="test_id"/>
            <input type="hidden" value="" name="ms"/>
            <input type="hidden" value="" name="total_ms"/>
            <input type="hidden" value="" name="word_count"/>

            <div id="gameArea" class="span8 dpan5">
            {% for question in questions %}
                <div class="testQuestion">
                    <div class="question">
                        {{ question.question|safe|linebreaksbr }}
                    </div>
                    <hr>
                    <ul class="answers">
                        {% for answer in question.quizanswermodel_set.all %}
                            <li>
                                <label class="radio">
                                    <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                                    {# TODO: status u kaldir #}
                                    {# {% if answer.status %}> {% endif %} #}
                                    {{ answer.answer }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div id="overlay"></div>
            </div>
            <div class="bottom-buttons span8 pull-span">
                <hr>
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-success start">Başlat </a>
                </div>
            </div>
            </form>

        </div>

    {% endblock content %}
