{% extends "base_empty.html" %}

    {% block pageID %}change_password{% endblock %}

    {% block content %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>

    <div class="container">

      <form class="form-signin control-group {% if form.errors %}error{% endif %}" action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <h4 class="form-signin-heading text-center">Hesabinizin aktif olmasi icin şifrenizi degistirmeniz gerekmektedir.</h4>
        <hr>
          <p>{{ request.user }}</p>
        <hr>
          {% if errors.match %}
            <div class="alert alert-danger text-center">{{ errors.match }}</div>
          {% endif %}

          <label>
              <input type="password" name="password1" class="input-block-level " placeholder="Yeni Şifreniz">
          </label>
          <label>
            <input type="password" name="password2" class="input-block-level" placeholder="Yeni Şifreniz Tekrar">
          </label>

        <button class="btn btn-large btn-block btn-success" type="submit">Şifreyi Değiştir</button>
      </form>

    </div>

    {% endblock %}
