{% extends "base_empty.html" %}

    {% block pageID %}login{% endblock %}

    {% block content %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>

    <div class="container">

      <form class="form-signin control-group {% if form.errors %}error{% endif %}" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading text-center">Lütfen giriş yapınız.</h2>
        <hr>

          {% if errors.wrong %}
            <div class="alert alert-danger text-center">{{ errors.wrong }}</div>
          {% endif %}
          {% if errors.empty %}
              <div class="alert alert-danger text-center">{{ errors.empty }}</div>
          {% endif %}

          <label>
              <input type="text" name="username" class="input-block-level " placeholder="T.C. Kimlik Numaranız">
          </label>
          <label>
            <input type="password" name="password" class="input-block-level" placeholder="Şifreniz">
          </label>

        <button class="btn btn-large btn-block btn-success" type="submit">Giriş Yap</button>
      </form>

    </div>

    {% endblock %}
