{% extends 'base_empty.html' %}

{% block title %}Logout | {{ block.super }}{% endblock %}

{% block pageID %}404{% endblock %}

{% block content %}
<style>
    body { background-color: #eee }
    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>

  <div class="hero-unit center">
    <h1>Çıkış Yaptınız</h1>
{#    <p class="text-error">Error 404</p>#}
    <br />

    <p>
        <span class="btn-group">
            <a href="{% url 'login' %}" class="btn btn-success"><i class="icon-lock icon-white"></i> Tekrar Giriş Yapin</a>
            <a href="{% url 'landing' %}" class="btn btn-info"><i class="icon-home icon-white"></i> Ana Sayfaya Gidin</a>
        </span>
    </p>

  </div>
{% endblock %}
