{% extends 'base_empty.html' %}

{% block pageID %}landing{% endblock %}

{% block content %}
    <div class="container-narrow">

        {% include "landing/header.html" %}

        <hr>
            <h1>Eğitim Sistemimiz</h1>
        <hr>
        
        <div class="row-fluid marketing">
            <div class="span12">
                <p>
                    Eğitim sistemimiz, sizin yaş ve eğitim durumunuza göre 30 günlük ve günde 60 dk olmak üzere size özel bir eğitim programı sunar.Sisteme giriş yaptığınızda size o gün çalışmanız gereken araç ve süreler gösterilerek programı tamamlamanız istenir.
                </p>

                <p>
                    Ayrıca günün istediğiniz saatinde bu çalışmaları tamamlayabilir, ara verebilir veya 90 gün boyunca platforma dilediğiniz zaman giriş yapıp serbest çalışmalar yapabilirsiniz.
                </p>
                <p>
                    Online platformumuzda yaptığınız tüm egzersiz ve çalışmalar kayıt edilir. Böylece gelişim durumunuzu gösteren ayrıntılı grafiklerle takip edebilirsiniz. 30 günlük çalışma programında okuma hızınız ve seviyeniz her gün belirli bir hız ve seviye ilişkisi ile yükseltilir. Bu sayede her gün bir önceki günden daha ileri bir hızda ve seviyede çalışmış olursunuz. Seviyenizin aşama aşama yükseltilmesi sayesinde 30 günün sonunda okuma hızınız en az 2 kat artar.
                </p>

                <h4>Ölçme – Değerlendirme</h4>
                <p>
                    Online eğitim platformunda yapacağınız tüm egzersiz ve çalışmalar sürekli kayıt edilir. Bu kayıtlar günlük, haftalık, aylık, iki aylık ve 90 günlük olmak üzere grafiklerle performans / analiz bölümünde yer alır. Böylece  diğer kurs ve programlardan farklı olarak hızlı okumayı belirli bir program dahilinde seviye seviye öğrenip ölçme – değerlendirme sonuçlarınızı anlık olarak takip edebilirsiniz.
                </p>
                <hr>
                <h2>Hızlı Okuma Alıştırmaları</h2>
                <p>
                    Hızlı okuma programımızdaki alıştırmalar ile göz kaslarınızı geliştirebilir, Görme alanınızı genişletebilir, algılama becerilerinizi yükseltebilir, aktif görme ve algılama yetinizi geliştirebilirsiniz.
                </p>

                <h4>Takistoskop Çalışması</h4>
                <p>
                    Takistoskop gözün görme çevikliğini arttırma çalışmalarında kullanılan bir araçtır. Bu araç bir metni belirli bir zaman aralığında hızla gösterip gözünüzün görme çevikliğini arttırır. Takistoskop çalışmalarınız kayıt edilerek aşama aşama size takip edebilme imkanı tanır.
                </p>

                <h4>Gruplama Çalışması</h4>
                <p>
                    Gruplama eğitiminde amaç gözümüzün okuma yaparken kelime grubunun ortasına odaklanmasını sağlayıp metni blok halinde görmeyi sağlamaktır. Hızlı okuma için kelimelere değil kelime gruplarına odaklanmak lazımdır. Bu araç size kelime gruplarına odaklanmayı ve fotoğrafik görmeyi öğretir. Bu araçta okuma metinleri kategorize edilmiştir ve yaş ve eğitim durumunuza göre dilediğiniz kategorideki metni seçip okumanıza imkan vererek sıkılmadan çalışma yapmanız sağlanmıştır. Gruplama çalışmalarınız düzenli olarak kaydedilir. Ölçme – değerlendirme grafiğinde hangi tarihte kaç kelimelik çalışmalar yaptığınızı görebilirsiniz.
                </p>

                <h4>Gölgeleme Çalışması</h4>
                <p>
                    Gölgeleme eğitiminde de amaç gruplama gibi gözümüzün okuma yaparken kelime grubunun ortasına odaklanmasını sağlayıp metni blok halinde görmeyi sağlamaktır. Gruplamadan farklı olarak sizi sadece görmeniz gereken metin bloğuna odaklar. 
                </p>

                <h4>Hızlı okuma Çalışması</h4>
                <p>
                    Hızlı okuma egzersizleri ile metinler okuyabilir, o anki anlık okuma hızınızı öğrenebilir ve okuma hızınızı sürekli test edebilirsiniz. Bu egzersiz sonuçları kayıt edilerek gelişim seviyeniz sürekli takip edebilirsiniz.
                </p>

                <h4>Anlama Çalışması</h4>
                <p>
                    Anlama egzersizi ile okuduğunuz metinleri anlayıp anlamadığınız test edilir. Size rastgele veya seçtiniz metin okutularak okuma sonunda metinle ilgili anlama soruları sorulur. Sorulara verdiğiniz cevaplara göre anlama oranınız tespit edilir.
                </p>

                <h4>Göz Odaklama Çalışması</h4>
                <p>
                    Göz odaklama çalışamsı ile göz kaslarınız geliştirilir. Ekranda size bir şekil gösterierek o şekli gözlerinizde takip etmeniz istenir. Gün geçtikçe göz kaslarınızın çevikliği ve hızı artar.
                </p>

                <h4>Kelime Ayırt Edebilme Çalışması</h4>
                <p>
                    Bu çalışma ile beynimizin kelimeleri ayırt edebilme özelliğini ve dikkatinizi geliştirebiliriz.
                </p>

                <hr>
                <h2>Öğrenci Grupları</h2>
                <h4>Yetişkinler için okuma ve anlama kursu</h4>
                <p>
                    Üniversite öğrencileri ile yetişkinler için hazırlanmış eğitim platformudur.  İş hayatına ve ilgi alanlarına göre özel seçilmiş metinlerle eğitim yapılır. 
                </p>

                <h4>İlköğretim öğrencileri için hızlı okuma ve anlama eğitimi</h4>
                <p>
                    İlköğretim 2. sınıftan 8. sınıfa kadar olan çocuklarınız için özel olarak hazırlanmış eğitim platformudur. Eğitim sistemimizde İlköğretim öğrencilerinin çok rahat anlayacağı özel metinler ve kelimeler kullanılmıştır. Günümüzde çocuklarımızın eğitim hayatında karşılaştığı en önemli sorun dikkatsizlik ve okuduğunu yeterli anlayamamadır. Özellikle sınavlarda çocuğunuzun performansının altında başarı sağladığını düşünüyorsanız; okuma, anlama ve dikkat konusunda bir eğitim bu sorunu çözecektir.
                </p>

                <h4>Sınavlara hazırlanan öğrenciler için hızlı okuma ve anlama eğitimi</h4>
                <p>
                    YGS/LYS, ALES, DGS, KPSS gibi sınavlara hazırlanan öğrenciler için hazırlanmış eğitim platformudur. Bu platformdaki metinler ÖSYM’nin sınavlarda sorduğu paragraf sorularından alınmıştır. Sınava hazırlanan öğrenciler bu eğitim sayesinde hızlı okuyarak zamanlarını daha etkili kullanacaklar. Ayrıca hızlı okuma alıştırmalarını yaparken girecekleri sınavın daha önceki yıllarda çıkmış sorularını da çözerek aynı zamanda sınava da hazırlık yapabileceklerdir.
                </p>
                <hr>

                <h3>Eğitim Programlarının Ortak İçeriği</h3>
                <ul>
                    <li>90 Günlük eğitim platformu üyeliği</li>
                    <li>90 Gün boyunca eğitim platformunu dilediği zaman kullanım</li>
                    <li>90 Gün boyunca eğitim platformuna dilediği yerden erişim (Evden, okuldan vs...)</li>
                    <li>85 bin kelimeden oluşan kelime alıştırmaları</li>
                    <li>Göz algılama becerisini geliştiren takistoskop egzersizleri</li>
                    <li>Göz görme alanını geliştiren egzersizler</li>
                    <li>Hızlı Okuma ve Anlama Egzersizleri</li>
                    <li>Göz ve Hafıza Geliştiren Egzersizleri</li>
                </ul>
                
                <hr>

                <h3>Eğitim Programlarının Ortak Kazanımları</h3>
                <ul>
                    <li>Okuma hızınız 2 ile 4 kat arasında gelişecek</li>
                    <li>Metinleri anlayarak hızlı okuyacaksınız</li>
                    <li>Dikkat ve konsantrasyon seviyeniz yükselecek</li>
                    <li>Göz kaslarınız gelişecek</li>
                    <li>Görme alanınız gelişecek</li>
                    <li>Hafızanız gelişecek</li>
                    <li>Kelime hazneniz yükselecek</li>
                </ul>


            </div>
        </div>

        <hr>

{#        <div class="footer">#}
{#            <p>&copy; Company 2013</p>#}
{#        </div>#}

    </div> <!-- /container -->
{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}



