{% extends 'base_empty.html' %}

{% block pageID %}landing{% endblock %}

{% block content %}
    <div class="container-narrow">

        {% include "landing/header.html" %}

        <hr>
            <h1>Hızlı Okuma Nedir?</h1>
        <hr>
        
        <div class="row-fluid marketing">
            <div class="span12">
                <p>
                    Hızlı okuma, anlam kaybetmeden, dakikada okunan sözcük sayısını artırmak için geliştirilmiş, 
                    psikolojik beceri, yaklaşım ya da sanat olarak bilinmektedir. 

                    Hızlı okumanın bir başka tanımı ise şöyledir: 
                        Hızlı okuma kişilerin çabukluk, belleme ve kavrama yeteneklerini geliştirerek, 
                        daha önceki okuma süresine kıyasla dakikada okudukları kelime sayısını ve 
                        anlama düzeylerini artırmaları demektir.
                </p>
                
                <h4>Hızlı Okumanın Tarihi</h4>
                <p>
                    Hızlı okuma II. Dünya Savaşı sırasında İngiliz pilotların gelen uçakları daha hızlı algılayabilme (ayırabilme) ihtiyacından doğmuştur. ABD Ohio Üniversitesi’nden Dr. Renshaw “takitoskop” gözün görme çevikliğini kademe kademe artırmayı başarmıştır. Daha sonra hızlı okuma artan sanayileşme ve hızla ilerleyen bilgi çağında bir ihtiyaç olarak görülmüş ve iş dünyasında ardından da eğitimde kullanılmaya başlanmıştır. Ülkemizdeyse hızlı okumanın tarihi 2000’li yılların başlarına rastlar.
                </p>

                <h4>Hızlı Okumanın Önemi</h4>
                <p>
                    Bilim ve teknolojinin giderek gelişmekte olduğu çağımızda gün geçtikçe yayınlanan 
                    kitap sayısı daha da artmaktadır. 
                    Giderek artan bilgilere ulaşmanın en önemli yollarından bir tanesi de okuyarak öğrenmedir. 
                    Klasik okuma yöntemlerimizle yavaş okur isek çok kitaba ulaşmamız mümkün olamayacaktır.
                    Gündemi yakalayıp takip etmek bilgilerden doğrudan doğruya faydalanmak için giderek 
                    hızlı okumanın önemi artmaktadır. 

                    Daha çok bilgi ve materyalden faydalanarak hem eğlenmek, 
                    hem öğrenmek hem de güzel vakit geçirebilmek için hızlı okumaya ihtiyaç vardır.
                </p>

                <h4>Hızlı Okumada Amaç</h4>
                <p>
                    Hızlı okuma, gözümüzün kaslarını eğitmeyi, gözümüzün çevik görmesini, görme alanını genişletmeyi, 
                    okurken satırlar arasında serseri gibi dolaşan gözümüze daha etkin bir şekilde ritim kazandırmayı ve 
                    bütün bunlar ile görme ve algılama arasında uyum sağlamayı amaçlar.
                </p>

                <h4>Hızlı Okumanın Yararları</h4>
                <p>
                    Hızlı okuma, aynı okuma süreci içerisinde daha çok metin okuma imkânı sağlar. Böylelikle de daha çok zamana sahip oluruz. Hızlı okuma ile her durumda zaman tasarrufu yapmanız mümkündür. Örneğin 400 sayfalık bir kitapta yaklaşık 100.000 kelime bulunur. Yavaş okuyan bir okuyucu bir saatte yaklaşık 7.000 kelime okuyabilir.  Bu da 400 sayfalık bir kitabın 15-16 saatte biteceği anlamına gelir.  Oysa hızlı okuma tekniklerini uygulayan bir kişi aynı sürede 2 ya da 3 kitap bitirebilir…
                </p>

                <p>
                    Hızlı okuma sayesinde daha iyi anlar kavrar ve daha iyi hatırlayabilirsiniz. Bu da gerek öğrencilik hayatında gerekse iş hayatında daha çok başarı anlamına gelmektedir. Günümüzde kariyer yapmak ve yükselebilmek için daha üstün şartlarda olmanız gerekmektedir. Bunun için de hızlı okuma size bir avantaj sağlayacaktır. 
                </p>

                <p>
                    Bilgi çağı denilen yeni çağa ayak uydurabilmek için, bu bilgi ve kültür düzeyinden haberdar olmak gerekmektedir. Hızlı okuma sayesinde buna da bir adım daha yaklaşmış oluruz.
                </p>

                <h4>Hızlı Okursanız Neler Olur?</h4>
                <p>
                    <ul>
                        <li>Zahmetsiz ve akıcı biçimde öğrenirsiniz.</li>
                        <li>Okuduğunuzu anlama yüzdenizi artırırsınız.</li>
                        <li>Zamandan tasarruf etmiş olursunuz.</li>
                        <li>Özgüven kazanırsınız.</li>
                        <li>Hızlı okurken beyniniz daha iyi ilişki kurar.</li>
                        <li>Okuma daha zevkli hâle gelir.</li>
                        <li>Okuma alışkanlığını kazanmada büyük bir adım atmış olursunuz.</li>
                        <li>Sözcük hazinenizi ve genel bilgi birikiminizi arttırmanıza yardımcı olur.</li>
                    </ul>
                </p>
            </div>
        </div>

        <hr>

{#        <div class="footer">#}
{#            <p>&copy; Company 2013</p>#}
{#        </div>#}

    </div> <!-- /container -->
{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}



