{% extends "index.html" %}

    {% block pageID %}presentations{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div class="menu clearfix">
                <h4 class="pull-left">Eğitmen Sunumları</h4>
            </div>

            <hr>
            <div id="gameArea" class="span8 dpan5 white-cell scroll">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Açiklama</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for slide in slides %}
                        <tr>
                            <td><a href="{{ slide.pdf_file.url }}">{{ slide.title }}</a></td>
                            <td>{{ slide.desc }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock content %}

