{% extends "index.html" %}

    {% block pageID %}homework_index{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div class="menu clearfix">

                <h4 class="pull-left">Günlük Ödevler</h4>

                <div class="btn-group pull-right">
                    {% if prev_day %}
                        <div class="btn"><a href="/homework/{{ prev_day }}/"><i class="icon-chevron-left"></i></a></div>
                    {% else %}
                        <div class="btn disabled"><i class="icon-chevron-left"></i></div>
                    {% endif %}

                    <div class="btn"><strong>{{ current_day }}. Gün</strong></div>

                    {% if next_day %}
                        <div class="btn"><a href="/homework/{{ next_day }}/"><i class="icon-chevron-right"></i></a></div>
                    {% else %}
                        <div class="btn disabled"><i class="icon-chevron-right"></i></div>
                    {% endif %}

                </div>

            </div>

            <hr>
            <div id="gameArea" class="span8 dpan5 white-cell">

                <table id="homeworks" class="table table-bordered table-hover table-striped hide">
                    {% if homeworks %}
                        <thead>
                            <tr>
                                <th style="text-align: center">Durum</th>
                                <th>Ödev</th>
                                <th>Seviye</th>
                                <th>Hız</th>
                                <th>Süre</th>
                            </tr>
                        </thead>
                        {% for work in homeworks %}
                            <tr data-id="{{ work.id }}">
                                <td style="text-align: center" class='status'></td>
                                <td>
                                    <a class="homeworkRedirect" href="#"
                                        data-type="{{ work.work_type }}"
                                        data-level="{{ work.level }}"
                                        data-speed="{{ work.speed }}"
                                        data-url="{{ work.url }}"
                                        data-minute="{{ work.minute }}"
                                        data-id="{{ work.id }}"
                                        data-is-reading="{% if work.is_reading %}1{% else %}0{% endif %}">
                                            {{ work.title }}
                                    </a>
                                </td>
                                <td>{{ work.get_level_display }}</td>
                                <td>{{ work.get_speed_display }}</td>
                                <td>{{ work.minute }} Dakika </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td></td>
                                <td>{{ work.title }}</td>
                                <td>{{ work.minute }} Dakika</td>
                            </tr>
                        {% endfor %}
                    {% else %}

                    {% endif %}

                </table>

            </div>
        </div>

    {% endblock content %}

