.dpan1
    height: 60px
.dpan2
    height: 140px
.dpan3
    height: 220px
.dpan4
    height: 300px
.dpan5
    height: 380px
.dpan6
    height: 460px
.dpan7
    height: 540px
.dpan8
    height: 620px
.dpan9
    height: 700px
.dpan10
    height: 780px
.dpan11
    height: 860px
.dpan12
    height: 940px