@import "vendor/bootstrap.css";
@import "vendor/elusive-webfont.css";
@import "vendor/nprogress.css";
.dpan1 {
  height: 60px;
}
.dpan2 {
  height: 140px;
}
.dpan3 {
  height: 220px;
}
.dpan4 {
  height: 300px;
}
.dpan5 {
  height: 380px;
}
.dpan6 {
  height: 460px;
}
.dpan7 {
  height: 540px;
}
.dpan8 {
  height: 620px;
}
.dpan9 {
  height: 700px;
}
.dpan10 {
  height: 780px;
}
.dpan11 {
  height: 860px;
}
.dpan12 {
  height: 940px;
}
.h-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.h-list li {
  display: inline;
  margin: 0 5px;
}
hr {
  margin: 10px 0;
}
.navbar {
  position: relative;
  z-index: 65;
}
#gameArea {
  margin-left: 0;
}
#gameArea [class*="span"]:first-child {
  margin-left: 0;
}
.white-cell {
  outline: 1px solid #c5c5c5;
  -webkit-border-radius: 7px;
  background: #fff;
  margin-bottom: 10px;
}
.levels {
  margin: 0 !important;
}
.game-area .info {
  margin: 0 0 5px 0;
}
.text-selection {
  height: 309px;
  overflow-y: auto;
}
.text-reading {
  overflow-y: auto;
  padding: 5px 10px;
  width: 600px;
  position: relative;
}
.text-reading .shadow {
  background: #149bdf;
  color: #fff;
  box-shadow: 0px 0px 0px 1px #149bdf;
}
.text-reading .block {
  background: #149bdf;
  color: #149bdf;
}
.text-reading .overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}
.text-reading .overflow .btn {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 220px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
}
.progress {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
}
.pull-span {
  margin-left: 0px;
}
.btn-group > .btn-xlarge {
  font-size: 30px;
  padding: 20px 40px;
}
#tachistoscope #gameArea {
  position: relative;
}
#tachistoscope span.word {
  display: none;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 160px;
  left: 50%;
}
#env_focus #gameArea {
  position: relative;
}
#env_focus span.word {
  display: none;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
#multi_focus #gameArea {
  position: relative;
}
#multi_focus #gameArea .true-false-button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
#multi_focus #gameArea .words {
  font-size: 25px;
  width: 620px;
  margin: 110px 0 0 0;
}
#multi_focus #gameArea .words span {
  display: block;
  float: left;
  height: 30px;
  line-height: 25px;
}
#multi_focus #gameArea .words .left {
  text-align: right;
  width: 290px;
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
  border-right: 1px solid;
}
#multi_focus #gameArea .words .right {
  text-align: left;
  width: 270px;
}
.abs-center {
  position: absolute;
  width: 100%;
  text-align: center;
}
#block_reading #gameArea {
  position: relative;
}
#block_reading #gameArea .abs-center {
  top: 100px;
}
#block_reading #gameArea .blocks {
  background: #333;
  border-radius: 4px;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
#eye_focusing #gameArea,
#eye_muscle_development #gameArea {
  position: relative;
}
#eye_focusing #gameArea .item,
#eye_muscle_development #gameArea .item {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#eye_focusing #gameArea .item {
  position: absolute;
}
#eye_muscle_development #gameArea .item {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#testQuestion,
.testQuestion {
  margin: 40px auto;
  width: 480px;
}
#testQuestion .answers,
.testQuestion .answers {
  list-style-type: none;
  cursor: pointer;
}
#testQuestion .answers a.active,
.testQuestion .answers a.active {
  background: rgba(0,136,204,0.19);
}
.notify {
  position: absolute;
  bottom: 20px;
  left: 50%;
  opacity: 0.7;
}
.control-group.success input {
  box-shadow: 0px 0px 5px #468847;
  transition: all 0.2s;
}
.top-space {
  margin-top: 60px;
}
#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
  z-index: 50;
}
.game-area {
  z-index: 55;
  position: relative;
}
textarea#word_list,
textarea#seperators,
textarea#positions {
  display: none;
}
#speed_reading_tests #gameArea {
  overflow: auto;
}
#gameArea.scroll {
  overflow: scroll;
}
#exam_detail #gameArea {
  overflow: scroll;
  position: relative;
}
#exam_detail #gameArea .testQuestion,
#exam_detail #gameArea .bottom-buttons {
  display: none;
}
#fullscreen {
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 60;
}
#fullscreen .close {
  position: absolute;
  top: -7px;
  right: 6px;
  z-index: 70;
  font-size: 40px;
  line-height: 40px;
}
#fullscreen .fs-gameArea {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #e1e1e1;
  z-index: 60;
}
#fullscreen .fs-gameArea .item {
  z-index: 65;
  position: absolute;
  top: 2%;
  left: 2%;
}
.sound {
  font-size: 11px;
}
.sound i {
  font-size: 16px;
  line-height: 14px;
  margin: 0 10px 0 0;
}
#landing body {
  padding-top: 20px;
  padding-bottom: 40px;
}
#landing .container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
#landing .container-narrow > hr {
  margin: 30px 0;
}
#landing .jumbotron {
  margin: 60px 0;
  text-align: center;
}
#landing .jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
#landing .jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
#landing .marketing {
  margin: 60px 0;
}
#landing .marketing p + h4 {
  margin-top: 28px;
}
