<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url 'landing' %}">{{ SITE_NAME }}</a>
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="{% url 'landing' %}"><i class="icon-home icon-white"></i> Ana Sayfa</a></li>
                <li class="divider-vertical"></li>
                <li><a href="{% url 'index' %}"><i class="icon-paper-clip icon-white"></i> Çalışmalar</a></li>
                {% if request.user.profile.is_teacher %}
                    <li class="divider-vertical"></li>
                    <li><a href="{% url 'presentations' %}"><i class="icon-video icon-white"></i> Sunumlar</a></li>
                {% endif %}
            </ul>
            <div class="nav-collapse collapse">
                {% if request.user.is_authenticated %}
                    <ul class="nav pull-right">
                    <div class="pull-right">
                    <ul class="nav pull-right">
                        <!-- <li><a class='sound' href="#"><i class="icon-white"></i> Metronomu Aç/Kapat</a></li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <div class="well span3" style="margin:-5px 0 10px 0; border-radius: 0;">
                                <li><a href="#"><i class="icon-user"></i> {{ request.user }}</a></li>
                                <li class="divider"></li>
                                <li class="last_login" data-date="{{ request.user.last_login|date:'r' }}">
                                    <a href="#">
                                        <i class="icon-time"></i>
                                        Aktif Süre: <strong>00:00:00</strong>
                                    </a>
                                </li>
                                <li><a href="#"><i class="icon-calendar"></i> Kalan Gün: <strong>{{ user_days }} / 90</strong></a>
                                </li>
                            </div>

                            <li class="divider"></li>
                            <li><a href="{% url 'index' %}"><i class="icon-home"></i> Ana Sayfa</a></li>
                            <li><a href="#"><i class="icon-list"></i> Ödevler</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cog"></i> Profil Ayarları</a></li>
                            <li><a href="#"><i class="icon-envelope"></i> İletişim</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Çıkış</a></li>
                        </ul>
                    </li>
                    </ul>
                    </div>
                    </ul>
                {% else %}
                    <ul class="nav pull-right">
                        <li><a href="{% url 'login' %}"><i class="icon-lock icon-white"></i> Giriş</a></li>
                    </ul>
                {% endif %}

            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
