<div class="sidebar-nav span3">
    <div class="well well-small">
        <ul class="nav nav-list">

            {% if not request.user.profile.is_teacher %}
                <li class="nav-header">Ödevler</li>
                <li><a href="{% url 'homework_index' %}"> Günlük Ödevler </a></li>
                <li class="divider"></li>
            {% endif %}

            <li class="nav-header">Göz Egzersizleri</li>
            <li><a href="{% url 'eye_focusing' %}"> Göz Odaklama </a></li>
            <li class="divider"></li>

            <li class="nav-header">Kelime Egzersizleri</li>
            <li><a href="{% url 'tachistoscope' %}"> Takistoskop</a></li>
            <li><a href="{% url 'env_focus' %}"> Çevresel Takistoskop</a></li>
            <li><a href="{% url 'multi_focus' %}"> Kelime Ayirt Etme </a></li>
            <li class="divider"></li>

            <li class="nav-header">Okuma Egersizleri</li>
            <li><a href="{% url 'shadowing' %}"> Gölgeleme </a></li>
            <li><a href="{% url 'grouping' %}"> Gruplama </a></li>
            <li><a href="{% url 'block_reading' %}"> Blok Okuma </a></li>
            <li class="divider"></li>

            <li class="nav-header">Okuma / Anlama</li>
            {% if request.user.profile.type == 's' %}
                <li><a href="{% url 'exam' %}"> Hızlı Okuma Testleri </a></li>
            {% else %}
                <li><a href="{% url 'quiz' %}"> Hızlı Okuma Testleri </a></li>
            {% endif %}
            <li class="divider"></li>

            <li class="nav-header">Raporlama</li>
            <li><a href="{% url 'performance' %}"> Performans / Analiz </a></li>

        </ul>
    </div>
</div>
