<div class="btn-group pull-right">
    <button class="btn btn-success start-practice">Başlat</button>
    {% if pause %}
        <button class="btn pause-practice">Durdur</button>
    {% endif %}
</div>