<div class="menu clearfix">

    <div class="btn-group pull-left">
    </div>

    {% if speed_region %}
        <div class="btn-group pull-right" id="speed">
            <button class="btn btn-small">Hız: <span class="tick"></span></button>
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a data-speed="1">Yavaş 1</a></li>
                <li><a data-speed="2">Yavaş 2</a></li>
                <li><a data-speed="3">Yavaş 3</a></li>
                <li><a data-speed="4">Orta 1</a></li>
                <li><a data-speed="5">Orta 2</a></li>
                <li><a data-speed="6">Orta 3</a></li>
                <li><a data-speed="7">Hızlı 1</a></li>
                <li><a data-speed="8">Hızlı 2</a></li>
                <li><a data-speed="9">Hızlı 3</a></li>
                <li><a data-speed="10">Çok Hızlı 1</a></li>
                <li><a data-speed="11">Çok Hızlı 2</a></li>
                <li><a data-speed="12">Çok Hızlı 3</a></li>
            </ul>
        </div>
    {% endif %}

    {% if level_region %}
        <div class="btn-group pull-right" id="level">
            <button class="btn btn-small">Seviye: <span class="tick"></span></button>
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a data-level="1">Seviye 1</a></li>
                <li><a data-level="2">Seviye 2</a></li>
                <li><a data-level="3">Seviye 3</a></li>
                <li><a data-level="4">Seviye 4</a></li>
                <li><a data-level="5">Seviye 5</a></li>
                <li><a data-level="6">Seviye 6</a></li>
                <li><a data-level="7">Seviye 7</a></li>
                <li><a data-level="8">Seviye 8</a></li>
                <li><a data-level="9">Seviye 9</a></li>
                <li><a data-level="10">Seviye 10</a></li>
            </ul>
        </div>
    {% endif %}

    {% if dynamic_level_region %}
        <div class="btn-group pull-right">
            <button class="btn btn-small">Seviye: {{ level }}</button>
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for level in all_levels %}
                    <li><a href="{{ level.get_absolute_url }}">{{ level }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}




</div>