<script id="notify_message" type="text/underscore_template">
<div class="span4 notify text-center alert alert-<%= type %>">
    <strong><%= message %></strong>
</div>
</script>

<script id="fullscreen_template" type="text/underscore_template">
<div id="fullscreen">
    <button type="button" class="close" data-dismiss="fullscreen">&times;</button>
    <div class="fs-gameArea">

    </div>
</div>
</script>

<script id="grid_template" type="text/underscore_template">
    <table class="grid">
        <tr>
            <td data-x="2" data-y="2"></td>
            <td data-x="12" data-y="2"></td>
            <td data-x="22" data-y="2"></td>
            <td data-x="32" data-y="2"></td>
            <td data-x="42" data-y="2"></td>
            <td data-x="52" data-y="2"></td>
            <td data-x="62" data-y="2"></td>
            <td data-x="72" data-y="2"></td>
            <td data-x="82" data-y="2"></td>
            <td data-x="85" data-y="2"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="12"></td>
            <td data-x="12" data-y="12"></td>
            <td data-x="22" data-y="12"></td>
            <td data-x="32" data-y="12"></td>
            <td data-x="42" data-y="12"></td>
            <td data-x="52" data-y="12"></td>
            <td data-x="62" data-y="12"></td>
            <td data-x="72" data-y="12"></td>
            <td data-x="82" data-y="12"></td>
            <td data-x="85" data-y="12"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="22"></td>
            <td data-x="12" data-y="22"></td>
            <td data-x="22" data-y="22"></td>
            <td data-x="32" data-y="22"></td>
            <td data-x="42" data-y="22"></td>
            <td data-x="52" data-y="22"></td>
            <td data-x="62" data-y="22"></td>
            <td data-x="72" data-y="22"></td>
            <td data-x="82" data-y="22"></td>
            <td data-x="85" data-y="22"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="32"></td>
            <td data-x="12" data-y="32"></td>
            <td data-x="22" data-y="32"></td>
            <td data-x="32" data-y="32"></td>
            <td data-x="42" data-y="32"></td>
            <td data-x="52" data-y="32"></td>
            <td data-x="62" data-y="32"></td>
            <td data-x="72" data-y="32"></td>
            <td data-x="82" data-y="32"></td>
            <td data-x="85" data-y="32"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="42"></td>
            <td data-x="12" data-y="42"></td>
            <td data-x="22" data-y="42"></td>
            <td data-x="32" data-y="42"></td>
            <td data-x="42" data-y="42"></td>
            <td data-x="52" data-y="42"></td>
            <td data-x="62" data-y="42"></td>
            <td data-x="72" data-y="42"></td>
            <td data-x="82" data-y="42"></td>
            <td data-x="85" data-y="42"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="52"></td>
            <td data-x="12" data-y="52"></td>
            <td data-x="22" data-y="52"></td>
            <td data-x="32" data-y="52"></td>
            <td data-x="42" data-y="52"></td>
            <td data-x="52" data-y="52"></td>
            <td data-x="62" data-y="52"></td>
            <td data-x="72" data-y="52"></td>
            <td data-x="82" data-y="52"></td>
            <td data-x="85" data-y="52"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="62"></td>
            <td data-x="12" data-y="62"></td>
            <td data-x="22" data-y="62"></td>
            <td data-x="32" data-y="62"></td>
            <td data-x="42" data-y="62"></td>
            <td data-x="52" data-y="62"></td>
            <td data-x="62" data-y="62"></td>
            <td data-x="72" data-y="62"></td>
            <td data-x="82" data-y="62"></td>
            <td data-x="85" data-y="62"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="72"></td>
            <td data-x="12" data-y="72"></td>
            <td data-x="22" data-y="72"></td>
            <td data-x="32" data-y="72"></td>
            <td data-x="42" data-y="72"></td>
            <td data-x="52" data-y="72"></td>
            <td data-x="62" data-y="72"></td>
            <td data-x="72" data-y="72"></td>
            <td data-x="82" data-y="72"></td>
            <td data-x="85" data-y="72"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="82"></td>
            <td data-x="12" data-y="82"></td>
            <td data-x="22" data-y="82"></td>
            <td data-x="32" data-y="82"></td>
            <td data-x="42" data-y="82"></td>
            <td data-x="52" data-y="82"></td>
            <td data-x="62" data-y="82"></td>
            <td data-x="72" data-y="82"></td>
            <td data-x="82" data-y="82"></td>
            <td data-x="85" data-y="82"></td>
        </tr>
        <tr>
            <td data-x="2" data-y="85"></td>
            <td data-x="12" data-y="85"></td>
            <td data-x="22" data-y="85"></td>
            <td data-x="32" data-y="85"></td>
            <td data-x="42" data-y="85"></td>
            <td data-x="52" data-y="85"></td>
            <td data-x="62" data-y="85"></td>
            <td data-x="72" data-y="85"></td>
            <td data-x="82" data-y="85"></td>
            <td data-x="85" data-y="85"></td>
        </tr>
    </table>
</script>