<!DOCTYPE html>
<html lang="en" id="{% block pageID %}base{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ DESCRIPTION }}">
        <meta name="author" content="{{ AUTHOR }}">

        <!-- Le styles -->
        <link href="/static/css/style.css" rel="stylesheet">
        <script>
        var csrf = '{{ csrf_token }}';
        </script>
    </head>

    <body>

        {% include "includes/header.html" %}

        {% if request.user.is_authenticated %}
            <div class="container">
                <hr>
                {% block content %}
                    {% include "includes/leftMenu.html" %}
                {% endblock content %}
            </div> <!-- /container -->
        {% else %}
            <div class="container">
                <hr>
            </div> <!-- /container -->
        {% endif %}


        {% include "includes/underscore_templates.html" %}

        {% block javascripts %}
        {# Frameworks #}
        {# <script src="http://broofa.com/Tools/JSLitmus/JSLitmus.js"></script> #}
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/docCookies.js"></script>
        <script src="/static/js/vendor/underscore.js"></script>
        <script src="/static/js/vendor/underscore.string.js"></script>
        <script src="/static/js/vendor/backbone.js"></script>
        <script src="/static/js/vendor/bootstrap.js"></script>
        <script src="/static/js/vendor/nprogress.js"></script>
        <script src="/static/js/vendor/jquery.stopwatch.js"></script>
        <script src="/static/js/vendor/band.js"></script>
{#        <script src="/static/js/vendor/soundmanager2.js"></script>#}

        <script src="/static/js/vendor/highstock.js"></script>
        <script src="/static/js/vendor/highstock.exporting.js"></script>

        <script src="/static/js/vendor/jquery.countdown.min.js"></script>

        <script src="/static/js/vendor/url.js"></script>

        {# Custom JS #}
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/requests.js"></script>
        <script src="/static/js/events.js"></script>

        {% endblock javascripts %}

        {# Google Analytics #}
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
                Date();a=s.createElement(o),
                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                          ga('create', 'UA-46011046-1', 'hizliokuyoruz.com');
                            ga('send', 'pageview');

                        </script>

    </body>
</html>
