<!DOCTYPE html>
<html lang="en" id="{% block pageID %}base{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ DESCRIPTION }}">
        <meta name="author" content="{{ AUTHOR }}">

        <!-- Le styles -->
        <link href="/static/css/style.css" rel="stylesheet">

    </head>

    <body>


        {% block content %}

        {% endblock content %}

        {% block javascripts %}

        {# Frameworks #}
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/underscore.js"></script>
        <script src="/static/js/vendor/bootstrap.js"></script>

        {# Plug-ins #}
        <script src="/static/js/vendor/url.js"></script>

        {% endblock javascripts %}

        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
                    Date();a=s.createElement(o),
                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                          ga('create', 'UA-46011046-1', 'hizliokuyoruz.com');
                            ga('send', 'pageview');

                        </script>

    </body>
</html>

