{% extends "base.html" %}


{% block content %}


    {% if request.user.is_authenticated %}
        {% if request.GET.status == 'password_changed' %}
            <div class="alert alert-block alert-success">
                <h4>Hesabınız Aktif Edilmiştir!</h4>
                Size verilmiş olan şifrenizi başarı ile değiştirip, hesabinizi aktif etmiş bulunmaktasiniz.
            </div>
            <hr>
        {% endif %}

        {% include "includes/leftMenu.html" %}

    {% endif %}



{#    <div id="jslitmus_container" class="span8"></div>#}

{% endblock content %}