{% extends 'base_empty.html' %}

{% block pageID %}landing{% endblock %}

{% block content %}
    <div class="container-narrow">

        {% include "landing/header.html" %}

        <hr>

        <div class="jumbotron">
            <h1>Hızlı okuyarak hayatınızı kolaylastırın!</h1>
            <p class="lead">Online eğitim sistemimizle, 30 günde okuma hızınızı 2 ile 4 kat arasında artırmanızı garanti ediyoruz!</p>

            {#          TODO: Okuma Hızınızı Ölçün #}
            {#        <a class="btn btn-large btn-success" href="#">Okuma Hızınızı Ölçün</a>#}

            <a class="btn btn-large btn-success" href="{% url 'login' %}">Giriş</a>
        </div>

        <hr>
        
        <div class="row-fluid marketing">
            <div class="span6">
                <h4>Hızlı Okuma Nedir?</h4>
                <p>Hızlı okuma, anlam kaybetmeden, dakikada okunan sözcük sayısını artırmak için geliştirilmiş, psikolojik beceri, yaklaşım ya da sanat olarak bilinmektedir.
                    <a href="#">Devamı...</a>
                </p>

                <h4>Hızlı Okumanın Yararları</h4>
                <p>Hızlı okuma, aynı okuma süreci içerisinde daha çok metin okuma imkânı sağlar. Böylelikle de daha çok zamana sahip oluruz.
                    <a href="#">Devamı...</a>
                </p>

                <h4>Eğitim Sistemimiz</h4>
                <p>Eğitim sistemimiz, sizin yaş ve eğitim durumunuza göre 30 günlük ve günde 60 dk olmak üzere size özel bir eğitim programı sunar.
                    <a href="#">Devamı...</a>
                </p>
            </div>

            <div class="span6">
                <h4>Alıştirmalar</h4>
                <p>Hızlı okuma programımızdaki alıştırmalar ile göz kaslarınızı geliştirebilir, Görme alanınızı genişletebilir, algılama becerilerinizi yükseltebilir, aktif görme ve algılama yetinizi geliştirebilirsiniz.
                    <a href="#">Devamı...</a>
                </p>

                <h4>Ölçme Değerlendirme</h4>
                <p>Online eğitim platformunda yapacağınız tüm egzersiz ve çalışmalar sürekli kayıt edilir. Bu kayıtlar günlük, haftalık, aylık, iki aylık ve 90 günlük olmak üzere grafiklerle performans / analiz bölümünde yer alır.
                    <a href="#">Devamı...</a>
                </p>

                <h4>Hızlı Okuma Alıştırmaları</h4>
                <p>Hızlı okuma programımızdaki alıştırmalar ile göz kaslarınızı geliştirebilir, Görme alanınızı genişletebilir, algılama becerilerinizi yükseltebilir, aktif görme ve algılama yetinizi geliştirebilirsiniz.
                    <a href="#">Devamı...</a>
                </p>
            </div>
        </div>

        <hr>

{#        <div class="footer">#}
{#            <p>&copy; Company 2013</p>#}
{#        </div>#}

    </div> <!-- /container -->
{% endblock content %}


{% block javascripts %}
{% endblock javascripts %}



