{% extends "index.html" %}

    {% block pageID %}block_reading{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div class="title pull-left"><strong>{{ article.title }}</strong></div>

            {% include "includes/top_menu.html" with speed_region=True level_region=True %}

            <hr>

            {% include 'includes/progress.html' %}

            <div id="gameArea" class="span8 dpan5 white-cell">
                <textarea id="word_list" cols="30" rows="10">{{ article.text|safe }}</textarea>
                <div class="abs-center">
                    <div class="blocks">Başlayabilirsiniz.</div>
                </div>
            </div>


            {% include 'includes/start-button.html' with pause=True %}

            {% include 'includes/word-count.html' %}

        </div>

    {% endblock content %}

