{% extends "index.html" %}

    {% block pageID %}env_focus{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            {% include "includes/top_menu.html" with dynamic_level_region=True speed_region=True %}

            <hr>
            {% spaceless %}
            <script>var word_list='{{word_list}}'.split(',');</script>
            {% endspaceless %}
            <div id="gameArea" class="span8 dpan5 white-cell"></div>

            <div class="bottom-buttons span8 pull-span">
                <div class="input-append pull-left">
                    <input class="span3" id="input_word" type="text">
                    <button class="btn" id="check_word" type="button"><i class="icon-chevron-right"></i></button>
                </div>

                {% include 'includes/start-button.html' %}

            </div>

        </div>

    {% endblock content %}

