{% extends "index.html" %}

    {% block pageID %}eye_muscle_development{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            {% include "includes/wordless_top_menu.html" %}
            <hr>

            <div id="gameArea" class="span8 dpan5 white-cell">

                <div class="item">1</div>

            </div>

            <div class="bottom-buttons span8 pull-span">

                {% include 'includes/start-button.html' %}

            </div>

        </div>

    {% endblock content %}

