{% extends "index.html" %}

{% load thumbnail %}

    {% block pageID %}eye_focusing{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            {% include "includes/top_menu.html" with dynamic_level_region=True speed_region=True %}

            <hr>

            <div id="gameArea" class="span8 dpan5 white-cell">
                <script>var item_positions = [{{ items.positions|safe }}];</script>
                {% thumbnail items.image "64x64" crop="center" format="PNG" as im %}
                    <img class="item" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </div>

            <div class="bottom-buttons span8 pull-span">

                {% include 'includes/start-button.html' %}

            </div>

        </div>

    {% endblock content %}

