{% extends "index.html" %}
{% load filters %}

    {% block pageID %}grouping{% endblock %}

    {% block content %}
    {{ block.super }}



        <div class="well span8 game-area">

            <div class="title pull-left"><strong>{{ article.title }}</strong></div>

            {% include "includes/top_menu.html" with level_region=True speed_region=True %}

            <hr>

            {% include 'includes/progress.html' %}

            <div id="gameArea" class="clearfix">

                <textarea id="word_list" cols="30" rows="10">{{ article.text|safe|linebreakbr }}</textarea>

                <div class="text-reading dpan4 white-cell">
                    <div class="context"></div>
                </div>

            </div>

            <hr>


            {% include 'includes/start-button.html' with pause=True %}

            {% include 'includes/word-count.html' %}





        </div>



    {% endblock content %}

