{% extends "index.html" %}

    {% block pageID %}performance{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div id="gameArea" class="clearfix">
                <div class="performance-categories" style="margin:0">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lütfen bir kategori seçiniz <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% for game in games %}
                                <li><a data-href="{{ game.slug }}">{{ game.name }}</a></li>
                            {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{% url 'quiz_result' %}">Hızlı Okuma Test Raporları</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div id="chart-container" class="white-cell text-selection">
                </div>
            </div>

        </div>

    {% endblock content %}

