{% extends "index.html" %}

    {% block pageID %}shadowing_index{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div id="gameArea" class="clearfix">
                <div class="text-categories span2">
                    {% for category in categories %}
                        <a href="{% url 'shadowing_category' category.id %}{{ query }}" class="btn btn-block">{{ category.title }}</a>
                    {% endfor %}
                </div>

                <div class="article-list span6 white-cell">
                    <ul class="nav nav-list text-selection">
                    {% if articles %}
                        {% for article in articles %}
                            <li><a href="{% url 'shadowing_detail' article.id %}{{ query }}">{{ article.title }}</a></li>
                        {% empty %}
                            <li><a href="#">Bu kategoride makale bulunmamaktadir</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">Önce Bir Kategori Seçiniz</a></li>
                    {% endif %}
                    </ul>
                </div>

            </div>
        </div>

    {% endblock content %}

