{% extends "index.html" %}

    {% block pageID %}speed_reading_tests_detail{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div class="title"><strong>{{ test.title }}</strong></div>

            <hr>

            <textarea id="word_list">{{ test.text|safe|linebreaks }}</textarea>

            <div id="gameArea" class="clearfix">
                <div class="text-reading span8 dpan4 white-cell">
                    <div class="overflow"></div>
                    {{ test.text|safe|linebreaks }}
                </div>
            </div>
            <hr>

            <div id="buttons">

                <div class="btn-group pull-right">
                    <button class="btn start-practice">Başlat</button>
                    <button class="btn pause-practice">Durdur</button>
                    <a href="{% url 'quiz_questions' test.id %}" class="btn finish-practice">Bitir</a>
                </div>



            </div>

        </div>
    {% endblock content %}

