{% extends "index.html" %}

    {% block pageID %}speed_reading_tests{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">


            <form action="{% url 'quiz_result' %}" method="POST">
            {% csrf_token %}

            <input type="hidden" value="{{ test_id }}" name="test_id"/>
            <input type="hidden" value="{{ total_ms }}" name="total_ms"/>
            <input type="hidden" value="{{ word_count }}" name="word_count"/>

            <div id="gameArea" class="span8 dpan5 white-cell">

                    {% for question in questions %}
                        <div id="testQuestion" class="well">
                            <div class="question">
                                {{ question.question|safe }}
                            </div>
                            <hr>
                            <ul class="answers">
                                {% for answer in question.quizanswermodel_set.all %}
                                    <li>
                                        <label class="radio">
                                            <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                                            {# TODO: status u kaldir #}
                                            {# {% if answer.status %}> {% endif %} #}
                                            {{ answer.answer }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}

            </div>
            <div class="bottom-buttons span8 pull-span">
                <div class="btn-group pull-right">
                    <input type="submit" class="btn btn-danger" value="Testi Bitir">/>
                </div>
            </div>
            </form>

        </div>

    {% endblock content %}
