{% extends "index.html" %}

    {% block pageID %}speed_reading{% endblock %}

    {% block content %}
    {{ block.super }}

        <div class="well span8 game-area">

            <div id="gameArea" class="clearfix">
                <div class="text-categories span2">
                    {% if categories %}
                        {% for category in categories %}
                            <a href="{% url 'quiz_cat' category.id %}{{ query }}" class="btn btn-block">{{ category.title }}</a>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="article-list span6 white-cell">
                    <ul class="nav nav-list text-selection">
                    {% if tests %}
                        {% for test in tests %}
                            <li><a href="{% url 'quiz_test' test.id %}{{ query }}">{{ test.title }}</a></li>
                        {% empty %}
                            <li><a href="#">Bu kategoride test bulunmamaktadir</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a href="#">Önce Bir Kategori Seçiniz</a></li>
                    {% endif %}
                    </ul>
                </div>

            </div>
        </div>



    {% endblock content %}

