{% extends "index.html" %}
    {% block pageID %}speed_reading_result{% endblock %}

    {% block content %}
    {{ block.super }}



        <div class="well span8 game-area">
            <div id="gameArea" class="clearfix">
{#  #}
                <h4 class="text-center">Hızlı Okuma Test Raporları</h4>
                <div class="text-reading white-cell" style="height: 398px">
{#                     <div class="context"> #}
{#                     </div> #}
                {# </div> #}
{#  #}
{#             </div> #}
{#             <hr> #}
            
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Test</th>
                    <th>Doğru / Toplam Soru</th>
                    <th>Okuma Hızı</th>
                    <th>Tarih</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.quiz }}</td>
                        <td>{{ result.correct_answers }} / {{ result.total_question }}</td>
                        <td>{{ result.reading_speed }} kelime/dk.</td>
                        <td>{{ result.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if num_pages > 1 %}
            <hr>
            {% endif %}

            <div class="pagination pagination-centered">
                <ul>
                    {% if num_pages > 1 %}
                        {% if results.has_previous %}
                            <li><a href="?page={{ results.previous_page_number }}">«</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">«</a></li>
                        {% endif %}

                        {% for range in page_range %}
                            {% if results.number == range %}
                                <li class="active"><a href="#">{{ range }}</a></li>
                            {% else %}
                                <li><a href="?page={{ range }}">{{ range }}</a></li>
                            {% endif %}
                        {% endfor %}



                        {% if results.has_next %}
                            <li><a href="?page={{ results.next_page_number }}">»</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">»</a></li>
                        {% endif %}
                    {% endif %}

                </ul>
            </div>

        </div>
        </div>
        </div>


    {% endblock content %}