{% extends "index.html" %}
{% load jsonify %}

    {% block pageID %}tachistoscope{% endblock %}

    {% block content %}
    {{ block.super }}

        <div id="overlay"></div>
        <div class="well span8 game-area">

            {% include "includes/top_menu.html" with dynamic_level_region=True speed_region=True %}

            <hr>
            <script>
            var word_list = {{word_list|jsonify}};
            </script>

            <div id="gameArea" class="span8 dpan5 white-cell">
            </div>

            <div class="input-append pull-left">
                <div class="control-group">
                    <input class="span3" id="input_word" type="text">
                    <button class="btn" id="check_word" type="button"><i class="icon-chevron-right"></i></button>
                </div>
            </div>

            <div class="btn-group pull-right">
                <button class="btn btn-success start-practice">Başlat</button>
            </div>

            <div class="status pull-left span8"></div>

        </div>

    {% endblock content %}

