<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="{% url 'hizliokuma_nedir' %}">Hızlı Okuma Nedir ?</a></li>
        <li><a href="{% url 'egitim_sistemi' %}">Eğitim Sistemimiz</a></li>
        <li><a href="#">İletişim</a></li>
        <li class="active"><a href="{% url 'login' %}">Giriş</a></li>
    </ul>
    <h3 class="muted">HızlıOkuyoruz.com</h3>
</div>